$white: #fff;
$black: #191e29;
$dark_blue: #132d46;
$aqua: #01c380;
$grey: #696e79;
$aqua_shadow: #01c37f35;
$grey_shadow: #696e793c;
$dark_blue_shadow: #132d4638;


//font
//@font-face {
//  font-family: "Digital-7";
//  src: url("../../assets/font/digital-7.ttf") format("truetype");
//}


$font: 'M PLUS 1 Code', sans-serif;
$for_logo: 'Freehand', cursive;
$time: 'Orbitron', sans-serif;