.timeContent {
  width: 90%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.timeContent .text_time_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}
.timeContent .Video_time_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeContent .Video_time_wrapper video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 55px 0 0 55px;
  border: rgba(1, 195, 127, 0.2078431373) 15px solid;
  box-shadow: 0 0 55px rgba(1, 195, 127, 0.2078431373);
}