@use "../../../../../sass/var.scss";

.OverviewDataQuality {
	flex: 1;
	display: flex;
  align-items: flex-end;
  border-radius: 15px;
	box-shadow: 0 0 15px var.$aqua_shadow;
	position: relative;

	.quality_data {
    display: flex;
		flex-direction: column;
		align-items: center;
    padding: 5px;

		h2 {
			font-family: var.$font;
			color: var.$dark_blue;
			text-shadow: 0 0 1.5px var.$aqua;
		}
		span {
			font-family: var.$time;
			color: var.$white;
			text-shadow: 0 0 1.5px var.$dark_blue;
		}
	}

	svg {
		font-size: 16px;
		color: var.$white;
		position: absolute;
		right: 2%;
		bottom: 5%;
		cursor: pointer;
	}

	.qualityDetails {
		position: absolute;
		color: var.$dark_blue;
		font-size: 12px;
		top: 100%;
		background-color: var.$white;
    z-index: 1;
		padding: 2px;
		font-family: var.$font;
		border-radius: 3.5px;
	}
}