@use "../../../../sass/var.scss";

.ProgressOverview {
	display: flex;
	gap: 10px;

	.during_progress {
		flex: 2;
		border-radius: 15px;
		box-shadow: 0 0 15px var.$aqua_shadow;
	  position: relative;

		svg {
			font-size: 16px;
			color: var.$white;
			position: absolute;
			right: 2%;
			bottom: 5%;
			cursor: pointer;
		}
	
		.lineChartDetails {
			position: absolute;
			color: var.$dark_blue;
			font-size: 12px;
			top: 100%;
			background-color: var.$white;
			z-index: 1;
			padding: 2px;
			font-family: var.$font;
			border-radius: 3.5px;
		}
	}

	.progress_skills {
		flex: 1;
		border-radius: 15px;
		box-shadow: 0 0 15px var.$aqua_shadow;
		position: relative;

		svg {
			font-size: 16px;
			color: var.$white;
			position: absolute;
			right: 2%;
			bottom: 5%;
			cursor: pointer;
		}
	
		.skillsPieDetails {
			position: absolute;
			color: var.$dark_blue;
			font-size: 12px;
			top: 100%;
			background-color: var.$white;
			z-index: 1;
			padding: 2px;
			font-family: var.$font;
			border-radius: 3.5px;
		}
	}

}