@use "../sass/var.scss";

.dashboard_main {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
  
	.navBar_wrapper{
		width: 100%;
	}

	.components_wrapper {
	display: flex;
	flex-direction: column;
	gap: 160px;
	width: 100%;
	}
} 

