@use "../sass/var.scss";

.dashboard_main {
	padding-top: 60px;
	display: flex;
	flex-direction: column;

	.components_wrapper {
	display: flex;
	flex-direction: column;
	gap: 160px;
	width: 100%;
	}
} 

