.dashboard_main {
  display: flex;
  gap: 25px;
}
.dashboard_main .navBar_wrapper {
  flex: 1;
}
.dashboard_main .components_wrapper {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  gap: 160px;
}