.dashboard_main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
.dashboard_main .navBar_wrapper {
  width: 100%;
}
.dashboard_main .components_wrapper {
  display: flex;
  flex-direction: column;
  gap: 160px;
  width: 100%;
}