@use "../sass/var.scss";

.dashboard_main {
	display: flex;
	gap: 25px;
 
	.navBar_wrapper{
	flex: 1;
	}
   
	.components_wrapper {
	flex: 3.5;
	display: flex;
	flex-direction: column;
	gap: 160px;
	}
} 