.dashboard_main {
  height: 100vh;
  display: flex;
  gap: 25px;
}
.dashboard_main .navBar_wrapper {
  flex: 1;
  margin: auto 0;
}
.dashboard_main .components_wrapper {
  flex: 3;
  margin: auto 0;
}