@use "../../../sass/var.scss";

.navbar {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 95vh;
	padding: 20px;
	background-color: var.$dark_blue_shadow;
	border-radius: 25px;
	box-shadow: 0 0 55px var.$grey_shadow;
	position: fixed;


	.navbar_header {
	flex: 1.5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	img {
		width: 75px;
		height: 75px;
		border-radius: 10px;
	}
	}
	.navbar_navigate {
	flex: 3;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	a{
		font-size: 24px;
		font-family: var.$font;
		text-decoration: none;
    color: var.$grey;
		border: 1px solid transparent;
		border-radius: 15px;
		padding: 10px 20px;
		transition: all .25s ease-in;

		&:hover {
		border: 1px solid var.$white;
		color: var.$aqua;
		}
	}

	.overview_svg {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	.task_svg {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	.timer_svg {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	.map_svg {
		display: flex;
		align-items: center;
		gap: 5px;
		svg {
			transform: rotate(180deg);
		}
	}
	}
	.navbar_footer {
	flex: 0.5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	
	svg {
		font-size: 24px;
		color: var.$white;
		cursor: pointer;
		transition: all .25s ease-in;


		&:first-child {
			color: var.$aqua;
			font-size: 28px;

			&:hover {
				color: var.$dark_blue;	
			}
		}
		&:nth-child(2):hover {
			color: red;
		}
	}
	.settingPages {
		position: absolute;
		bottom: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 100%;
		padding: 10px;
		background-color: var.$white;
		border-radius: 5px;

    a {
			text-decoration: none;
			font-size: 16px;
			font-family: var.$font;
			color: var.$dark_blue;
			letter-spacing: 1px;
			transition: all .25s ease-in;

			&:hover {
				text-decoration: underline;
				transform: scale(1.1);
			}
		}
	}

	.editProfile_wrapper {
		position: absolute;
		width: 100%;
		background-color: var.$white;
		bottom: 250%;
		border-radius: 5px;
		height: 250px;
		font-family: var.$font;

		.profileEditor {
			padding: 5px;
			display: flex;
			flex-direction: column;
			gap: 5px;

			h3 {
				color: var.$black;
			}
			input {
				margin-top: 10px;
				padding: 7px 5px;
				font-family: var.$font;
				letter-spacing: 1px;

				&::placeholder{
					color: var.$dark_blue;
				}
				&:focus {
					outline: none;
				}
			}
			button {
				padding: 5px 5px;
				font-family: var.$font;
				letter-spacing: 1px;
				width: fit-content;
				background-color: var.$black;
				border: none;
				color: var.$white;
        
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
}