.OverviewDataTask {
  display: flex;
  align-items: flex-end;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(1, 195, 127, 0.2078431373);
}
.OverviewDataTask .task_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.OverviewDataTask .task_data h2 {
  font-family: "M PLUS 1 Code", sans-serif;
  color: #132d46;
  text-shadow: 0 0 1.5px #01c380;
}
.OverviewDataTask .task_data span {
  font-family: "Orbitron", sans-serif;
  color: #fff;
  text-shadow: 0 0 1.5px #132d46;
}