.taskGenerator_wrapper {
  height: calc(100vh - 60px);
  padding: 20px;
  box-shadow: 0 0 55px rgba(19, 45, 70, 0.2196078431);
  display: flex;
  gap: 25px;
  font-family: "M PLUS 1 Code", sans-serif;
}
.taskGenerator_wrapper .daily_tasks_wrapper {
  flex: 2.5;
}
.taskGenerator_wrapper .weekly_tasks_wrapper {
  flex: 1.75;
}