@use "../../../sass/var.scss";

.textProgress_part {
	display: flex;
	flex-direction: column;
	gap: 25px;

	.text_progress_header {
	 position: relative;
		span {
			font-family: var.$time;
			font-size: 245px;
			font-weight: 900;
			color: var.$grey_shadow;
		}
		h1{
		font-family: var.$font;
		color: var.$white;
		font-size: 45px;
		position: absolute;
		left: 10%;
		top: 70%;
		}
	
	}
	p {
		color: var.$grey;
		font-size: 24px;
		padding-left: 15px;
	}
	}

	@media screen and (max-width: 450px) {
		.textProgress_part{
			.text_progress_header {
				span {
					font-size: 180px;
				}
				h1 {
				 font-size: 35px;
				}	
			}
			p {
			 font-size: 18px;
			}	
			
		}
	}