@use "../../../../sass/var.scss";

.ResponsiveLinks_wrapper {
	position: relative;
	font-family: var.$font;
	transition: all .25s ease-in;

	button {
		width: 200px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 10px;
		font-family: var.$font;
		letter-spacing: 1px;
		font-size: 16px;

		&:hover {
			cursor: pointer;
		}
	}

	.selectLinks {
	 padding-top: 10px;
   position: absolute;
	 padding-left: 10px;
	 background-color: var.$black;
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 gap: 10px;

	 .selectLinks_item {
		color: var.$white;
		transition: all 0.25s ease-in;

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
			color: var.$aqua;
		}
	 }
	}
}