@use "../../../../sass/var.scss";

.responsive_768 {
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 100%;
	
	img {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		box-shadow: 0 0 105px var.$grey;
		position: relative;

		&:hover{
			cursor: pointer;
		}
	}

	.profileMaker768 {
		position: absolute;
		top: 100%;
		right: 0;
		display: flex;
		flex-direction: column;
		gap: 5px;
		background-color: var.$white;
		border-radius: 5px;
		width: 200px;
		
		h1{
			font-size: 18px;
		}
		span {
			font-size: 14px;
		}
		
		.profileMaker768_line {
			width: 80%;
			height: 1px;
			margin: 0 auto;
			background-color: var.$black;
		}
		button {
			font-family: var.$font;
			width: fit-content;
			background-color: transparent;
			border: none;
			padding: 5px;
			font-size: 14px;
			color: var.$black;
	  	transition: all .25s ease-in; 
			font-weight: 900;

     
      &:hover {
				cursor: pointer;
				letter-spacing: 1px;
			}
		}
	}
	.editProfile_wrapper {
		position: absolute;
		width: 200px;
		background-color: var.$white;
		top: 400%;
		right: 0;
		border-radius: 5px;
		height: 200px;
		font-family: var.$font;

		.profileEditor {
			padding: 5px;
			display: flex;
			flex-direction: column;
			gap: 5px;

			h3 {
				color: var.$black;
			}
			input {
				margin-top: 10px;
				padding: 5px 5px;
				font-family: var.$font;
				letter-spacing: 1px;

				&::placeholder{
					color: var.$dark_blue;
				}
				&:focus {
					outline: none;
				}
			}
			button {
				padding: 2.5px 5px;
				font-family: var.$font;
				letter-spacing: 1px;
				width: fit-content;
				background-color: var.$black;
				border: none;
				color: var.$white;
				
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	.uploadFile {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center; 
		gap: 15px;

		button {
			padding: 5px 5px;
			font-family: var.$font;
			letter-spacing: 1px;
			width: fit-content;
			background-color: transparent;
			color: var.$black;
			border: none;
			text-decoration: underline;
			font-size: 14px;
			&:hover {
				cursor: pointer;
			}
		}
		
		.profileIMGs_wrapper {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			.profileIMGs{
			 img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				box-shadow: 0 0 105px var.$grey;

				&:hover {
					cursor: pointer;
					transform: scale(1.05);
				}
			 }
			}
		}
	}
}