@use "../../../../../sass/var.scss";

.ForNewUser {
	display: flex;
	height: 100%;
	box-shadow: 0 0 35px var.$aqua_shadow;
	border-radius: 15px;
	padding: 25px;
	font-family: var.$font;

	#form_for_new_user {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 100%;

		span {
      font-size: 18px;
			color: var.$white;
		}

		input {
		width: 100%;
		outline: none;
		font-family: var.$font;
    padding: 5px 10px;
		letter-spacing: 1.5px;

		::placeholder{
			color: var.$dark_blue;
		}
		}

		button {
			width: fit-content;
      font-family: var.$font;
			padding: 5px 10px;
			background-color: var.$grey;
			border: none;
			color: var.$white;
			transition: all ease-in .25s;

			&:hover {
				background-color: var.$aqua;
				cursor: pointer;
			}
		}
	}
}