@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  background-color: #191e29;
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 0 50px #132d4638;
 }